body {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
}

#hero {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/hero-mobile.jpg");
  color: #333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  #hero {
    background-image: url("../../assets/img/hero.jpg");
  }
}

.navbar-light .navbar-brand {
  background-image: url("../../assets/img/logo.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  width: 150px;
  height: 40px;
}

#navcol-1 {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(34,34,34);
}

#title {
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 300;
}

#subtitle {
  font-size: 40px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

#hero-bottom {
  color: rgb(255,255,255);
}

.p-top {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 0;
}

.p-bot {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
}

.arrow-button {
  color: #ffffff;
}

.icon.ion-ios-arrow-down {
  font-size: 32px;
}

#hero-bottom .container {
  width: 100%;
  text-align: center;
}

@media (min-width: 576px) {
  #hero-bottom .container {
    width: 700px;
    text-align: center;
  }
}

.col.with-borders {
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 0px;
  border-bottom: 0px;
}

#video-and-stats iframe {
  width: 90%;
  height: 400px;
}

@media (min-width: 992px) {
  #video-and-stats iframe {
    width: 900px;
    height: 500px;
  }
}

#video-and-stats {
  text-align: center;
}

#stats {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 250px;
}

@media (min-width: 768px) {
  #stats {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 250px;
  }
}

#stats .table thead th {
  text-align: left;
  padding-left: 0px;
  border-top: 0px;
}

#stats .cell-left {
  text-align: left;
  padding-left: 0px;
}

#stats .cell-right {
  text-align: right;
  font-weight: bold;
  padding-right: 0px;
}

#aero {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#aero .container {
  margin-top: 300px;
}

#aero .h3, h3 {
  font-family: Montserrat, sans-serif;
}

@media (min-width: 768px) {
  #interior {
    width: 100%;
    height: 100vh;
  }
}

#interior {
  width: 100%;
  height: 60vh;
}

@media (min-width: 768px) {
  #interior .figure {
    max-width: 70%;
  }
}

#interior .figure {
  max-width: 90%;
}

#interior .figure-caption {
  color: rgb(255,255,255);
  margin-top: 15px;
}

#caption-title {
}

@media (min-width: 768px) {
  #top-view {
    width: 100%;
    height: 120vh;
    background-image: url("../../assets/img/top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 150px;
  }
}

#top-view {
  width: 100%;
  height: 120vh;
  background-image: url("../../assets/img/top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#top-view .container {
  margin-bottom: 150px;
}

.footer-basic .btn.btn-primary.text-truncate.reserve-button {
  margin: 80px;
  padding: 8px 50px;
}

#col-button {
  border: 3px solid white;
  border-radius: 30px;
}

#btn-bottom {
  border-radius: 30px;
  border: 3px solid white;
  background-color: rgba(0,123,255,0);
  margin: 80px;
  padding: 8px 50px;
}

#vertical-line {
  width: 1px;
  height: 200px;
  background-color: rgba(255,255,255,0.42);
  margin: 0px auto;
  margin-top: -170px;
}

